/* Overrides and stuff */

@media (min-width: 400px) {
    body { 
        background-color: rgb(246, 232, 255);
    }
    .container { 
        background-color: white;
        padding: 0 0.5em 0.5em 0.5em;
        border-radius: 6px;
    }
}
.hidden{
    display:none;
}
.header{
    margin-top: 25%;
}
.text-align-center{
    text-align: center;
}

.text-failure{
    background-color: rgb(235, 80, 85);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

button.button-primary{
    background-color: rgb(219, 192, 250);
    border-color: white;
    color:black;
}
button.button-primary:hover, button.button-primary:focus{
    background-color: rgb(98, 79, 120);
    border-color:white;
}
button.button-success{
    color: white;
    border-color: rgb(56, 117, 87);
    background-color: rgb(47, 158, 71);
    transition: 0.2s;
}
button.button-success:hover, button.button-success:focus{
    color:white;
}
.footer{
    position: fixed;
    bottom: 0;
}
